*, *::before, *::after {
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

html{
    height: 100%;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*header*/

.header{
    display: flex;
    align-items: center;
    height: 65px;
    border-bottom: 6px solid #000000;
    background: #008080;
}

.header-container{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.logo{
    font-weight: normal;
    font-size: 24px;
    line-height: 28.44;
    color: #18191F;
}

.nav{
    font-weight: normal;
    font-size: 24px;
    line-height: 28.44;
    color: #18191F;
    margin-left: auto;
}
.nav-link{

    color: #000000;
    text-decoration: none;
    padding-right: 22px;
}

.nav-link:hover{
    color: #FFFFFF;
}

.nav-link:last-child{
    margin-right: 0px;
}

/* Main */

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 37px;
}

.main-container{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-content{
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0 px;
}

.main-img{

}

.main-header{
    font-weight: 1000;
    font-size: 50px;
    line-height: 0px;
    color: #000000;
    padding-top: 0px;
    padding-bottom: 5 px;
    margin-top: 8;
    margin-bottom: 0;
}

.main-text {
    margin-top: 60px;
}

.main-text p {
    font-weight: 100;
    font-size: 30px;
    line-height: 40px;
}


/*footer*/

.footer{
    display: flex;
    align-items: center;
    background: DarkSlateGray;
    border-top: 6px solid #000000;
}

.footer-container{
    width: 1400px;
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials{
    margin-left: auto;
}

.footer-socials-item{
    margin-left: 30px;
}

.footer-socials-item:hover{
    opacity: 0.5;
}
